@font-face {
  font-family: "Montserrat-Bold", "Montserrat-Medium", "Montserrat-Regular", sans-serif;
  src: url("../fonts/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat-Regular.ttf");
}
.subscribe-card {
  z-index: 100;
  position: fixed;
  left: 33%;
  top: 16%;
  background-color: white;
}
.subscribe-card__text {
  color: #323232;
  padding-left: 76px;
}
.subscribe-card__text:nth-child(3) {
  font-size: 30px;
  font-weight: bold;
  padding-top: 48px;
  padding-bottom: 24px;
}
.subscribe-card__text:nth-child(4) {
  font-size: 20px;
}
.subscribe-card form {
  padding-bottom: 69px;
}
.subscribe-card form > input {
  padding: 24px 9px 24px 28px;
  border: 1px solid #c4c4c4;
  outline: none;
  font-size: 18px;
  color: #c4c4c4;
  margin-left: 76px;
}
.subscribe-card form > .btn {
  padding: 24px 49px 24px 50px;
  margin-left: 26px;
  margin-top: 29px;
}
.subscribe-card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.cart {
  z-index: 100;
  position: fixed;
  margin: 0 480px;
  width: 800px;
  top: 20%;
  background-color: white;
  padding: 55px 65px;
}
.cart h1 {
  font-size: 30px;
  color: #323232;
  padding-bottom: 49px;
  border-bottom: 1px solid #c4c4c4;
}
.cart > .close {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}
.cart .empty-cart {
  padding: 42px 0;
  font-size: 20px;
  color: #323232;
}
.cart button {
  padding: 24px 70px;
  border: 1px solid #f54f4f;
  background-color: #f54f4f;
  color: white;
  font-size: 18px;
  outline: none;
}
.cart button:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.cart-item {
  display: grid;
  grid-template-columns: 104px 211px 195px 95px 110px 84px;
  padding-top: 28px;
}
.cart-item ul {
  list-style-type: none;
}
.cart-item__name {
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #323232;
}
.cart-item__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
}
.cart-item__quantity {
  display: flex;
  padding-top: 22px;
}
.cart-item__quantity #plus, .cart-item__quantity #minus {
  border-radius: 1000px;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 20px;
  height: 22px;
  width: 22px;
  text-align: center !important;
}
.cart-item__quantity > .quantity-result {
  padding: 0 12px;
  color: #323232;
  font-size: 20px;
}
.cart-item #plus:hover, .cart-item #minus:hover, .cart-item .cart-item__delete > p:hover {
  border-color: #323232;
  color: #323232;
  cursor: pointer;
}
.cart-item__price {
  font-size: 24px;
  color: #323232;
  padding-top: 19px;
  font-weight: 500;
  white-space: nowrap;
  text-align: right;
}
.cart-item__delete {
  padding-top: 19px;
  text-align: -webkit-right !important;
}
.cart-item__delete > p {
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 27px;
  transform: rotate(45deg);
  color: #c4c4c4;
}
.cart-item span {
  text-align: right;
}

.item-img {
  width: 79px;
  height: 91px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c4c4c4;
  margin-top: 31px;
}

.promo-code input {
  border: 1px solid #c4c4c4;
  padding: 14px 0 14px 21px;
  outline: none;
  font-size: 20px;
  color: #c4c4c4;
}

.result:last-child {
  padding-left: 0;
}
.result > section {
  padding-left: 197px;
  display: grid;
  grid-template-columns: 140px 150px;
}
.result > section:first-child {
  padding-bottom: 10px;
}
.result > section:nth-child(-n+2) {
  color: #c4c4c4;
  font-size: 20px;
}
.result > section:nth-child(3) {
  padding-top: 49px;
  padding-bottom: 22px;
}
.result > section:nth-child(3), .result > section .total-price {
  color: #323232 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.result > section .sales-result, .result > section .promo-code-result, .result > section .total-price {
  color: #c4c4c4;
  font-size: 20px;
  text-align: right;
}

#minus {
  line-height: 20px;
}

.promo-code, .result {
  margin-top: 44px;
}

.people-name {
  font-size: 24px;
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 8px;
}

.people-position {
  color: #c4c4c4;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 48px;
  background-color: #f54f4f;
  transition: width 0.3s;
  position: absolute;
}
.logo:hover {
  width: 115px;
  color: white;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  color: white;
}
.logo__name {
  font-size: 18px;
  color: #323232;
  z-index: 10;
  white-space: nowrap;
  padding-right: 15px;
  transition: color 0.3s;
}
.logo__name:hover {
  color: white;
}
.logo__name > span {
  font-size: 18px;
  padding-left: 20px;
  color: white;
  background-color: #f54f4f;
  width: 27px;
}

.category {
  font-size: 30px;
  font-weight: bold;
  color: #323232;
  margin-top: 150px;
  margin-bottom: 80px;
}

.product {
  text-align: center;
  transition: 0.4s;
}
.product:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product img {
  width: 309px;
}
.product__name {
  font-size: 24px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 7px;
}
.product__characteristics {
  font-size: 16px;
  color: #c4c4c4;
  white-space: nowrap;
}
.product__price {
  font-size: 20px;
  color: #323232;
  padding-top: 32px;
}

.btn {
  margin-top: 45px;
  padding: 24px 70px;
  background-color: #f54f4f;
  font-size: 18px;
  color: white;
  border: 1px solid #f54f4f;
  outline: none;
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.subscribe {
  position: relative;
  margin-top: 230px;
  height: 492px;
}
.subscribe__text {
  position: absolute;
  z-index: 10;
}
.subscribe__text p {
  font-size: 20px;
  color: #323232;
  line-height: 1.3;
}
.subscribe__text p:nth-child(2) {
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 20px;
}
.subscribe__text > .btn {
  margin-top: 60px;
  padding: 24px 49px 24px 50px;
}
.subscribe__text > .category {
  margin-top: 0;
  margin-bottom: 40px;
}
.subscribe img {
  position: absolute;
  top: -150px;
  left: -412px;
  z-index: 1;
}

.banner {
  padding-top: 281px;
  background-color: #F6F6F4;
  height: 210px;
  width: 100%;
}
.banner > .container {
  position: relative;
}
.banner > .container > .category {
  margin: 0;
  font-size: 36px;
  padding-bottom: 168px;
  position: absolute;
  z-index: 10;
}
.banner__img {
  position: absolute;
  top: -180px;
  left: -412px;
}

.invisible {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.quantity {
  position: absolute;
  bottom: 10px;
  left: 75px;
  border-radius: 50%;
  background-color: #f54f4f;
  padding: 1.5px 7px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1113px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  position: fixed;
  z-index: 101;
  background-color: white;
  width: 100%;
}

.header__content {
  display: flex;
}
.header__content__phone {
  margin-right: 92px;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.header__content__cart {
  position: relative;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
}
.header__content__cart > p:hover {
  color: #f54f4f;
  cursor: pointer;
}

.navigation {
  margin-left: 260px;
  margin-right: 167px;
  margin-top: 2px;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}
.navigation__text {
  font-size: 16px;
  font-weight: 500;
  padding-right: 60px;
}
.navigation__text a {
  text-decoration: none;
  color: #323232;
}
.navigation__text a:hover {
  color: #f54f4f;
}
.navigation__text:last-child {
  padding-right: 0;
}

footer {
  background-color: #323232;
  padding: 150px 0;
}

.footer__content {
  display: flex;
}
.footer__content > .logo > a > .logo__name {
  color: white;
}
.footer__content__phone {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
.footer__content > .navigation {
  margin-left: 379px;
  margin-right: 238px;
}
.footer__content > .navigation ul .navigation__text a {
  color: white;
}
.footer__content > .navigation ul .navigation__text a:hover {
  color: #f54f4f;
}

.subscribe-card {
  z-index: 100;
  position: fixed;
  left: 33%;
  top: 16%;
  background-color: white;
}
.subscribe-card__text {
  color: #323232;
  padding-left: 76px;
}
.subscribe-card__text:nth-child(3) {
  font-size: 30px;
  font-weight: bold;
  padding-top: 48px;
  padding-bottom: 24px;
}
.subscribe-card__text:nth-child(4) {
  font-size: 20px;
}
.subscribe-card form {
  padding-bottom: 69px;
}
.subscribe-card form > input {
  padding: 24px 9px 24px 28px;
  border: 1px solid #c4c4c4;
  outline: none;
  font-size: 18px;
  color: #c4c4c4;
  margin-left: 76px;
}
.subscribe-card form > .btn {
  padding: 24px 49px 24px 50px;
  margin-left: 26px;
  margin-top: 29px;
}
.subscribe-card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.cart {
  z-index: 100;
  position: fixed;
  margin: 0 480px;
  width: 800px;
  top: 20%;
  background-color: white;
  padding: 55px 65px;
}
.cart h1 {
  font-size: 30px;
  color: #323232;
  padding-bottom: 49px;
  border-bottom: 1px solid #c4c4c4;
}
.cart > .close {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}
.cart .empty-cart {
  padding: 42px 0;
  font-size: 20px;
  color: #323232;
}
.cart button {
  padding: 24px 70px;
  border: 1px solid #f54f4f;
  background-color: #f54f4f;
  color: white;
  font-size: 18px;
  outline: none;
}
.cart button:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.cart-item {
  display: grid;
  grid-template-columns: 104px 211px 195px 95px 110px 84px;
  padding-top: 28px;
}
.cart-item ul {
  list-style-type: none;
}
.cart-item__name {
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #323232;
}
.cart-item__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
}
.cart-item__quantity {
  display: flex;
  padding-top: 22px;
}
.cart-item__quantity #plus, .cart-item__quantity #minus {
  border-radius: 1000px;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  font-size: 20px;
  height: 22px;
  width: 22px;
  text-align: center !important;
}
.cart-item__quantity > .quantity-result {
  padding: 0 12px;
  color: #323232;
  font-size: 20px;
}
.cart-item #plus:hover, .cart-item #minus:hover, .cart-item .cart-item__delete > p:hover {
  border-color: #323232;
  color: #323232;
  cursor: pointer;
}
.cart-item__price {
  font-size: 24px;
  color: #323232;
  padding-top: 19px;
  font-weight: 500;
  white-space: nowrap;
  text-align: right;
}
.cart-item__delete {
  padding-top: 19px;
  text-align: -webkit-right !important;
}
.cart-item__delete > p {
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 27px;
  transform: rotate(45deg);
  color: #c4c4c4;
}
.cart-item span {
  text-align: right;
}

.item-img {
  width: 79px;
  height: 91px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c4c4c4;
  margin-top: 31px;
}

.promo-code input {
  border: 1px solid #c4c4c4;
  padding: 14px 0 14px 21px;
  outline: none;
  font-size: 20px;
  color: #c4c4c4;
}

.result:last-child {
  padding-left: 0;
}
.result > section {
  padding-left: 197px;
  display: grid;
  grid-template-columns: 140px 150px;
}
.result > section:first-child {
  padding-bottom: 10px;
}
.result > section:nth-child(-n+2) {
  color: #c4c4c4;
  font-size: 20px;
}
.result > section:nth-child(3) {
  padding-top: 49px;
  padding-bottom: 22px;
}
.result > section:nth-child(3), .result > section .total-price {
  color: #323232 !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.result > section .sales-result, .result > section .promo-code-result, .result > section .total-price {
  color: #c4c4c4;
  font-size: 20px;
  text-align: right;
}

#minus {
  line-height: 20px;
}

.promo-code, .result {
  margin-top: 44px;
}

.people-name {
  font-size: 24px;
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 8px;
}

.people-position {
  color: #c4c4c4;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 48px;
  background-color: #f54f4f;
  transition: width 0.3s;
  position: absolute;
}
.logo:hover {
  width: 115px;
  color: white;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  color: white;
}
.logo__name {
  font-size: 18px;
  color: #323232;
  z-index: 10;
  white-space: nowrap;
  padding-right: 15px;
  transition: color 0.3s;
}
.logo__name:hover {
  color: white;
}
.logo__name > span {
  font-size: 18px;
  padding-left: 20px;
  color: white;
  background-color: #f54f4f;
  width: 27px;
}

.category {
  font-size: 30px;
  font-weight: bold;
  color: #323232;
  margin-top: 150px;
  margin-bottom: 80px;
}

.product {
  text-align: center;
  transition: 0.4s;
}
.product:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product img {
  width: 309px;
}
.product__name {
  font-size: 24px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 7px;
}
.product__characteristics {
  font-size: 16px;
  color: #c4c4c4;
  white-space: nowrap;
}
.product__price {
  font-size: 20px;
  color: #323232;
  padding-top: 32px;
}

.btn {
  margin-top: 45px;
  padding: 24px 70px;
  background-color: #f54f4f;
  font-size: 18px;
  color: white;
  border: 1px solid #f54f4f;
  outline: none;
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.subscribe {
  position: relative;
  margin-top: 230px;
  height: 492px;
}
.subscribe__text {
  position: absolute;
  z-index: 10;
}
.subscribe__text p {
  font-size: 20px;
  color: #323232;
  line-height: 1.3;
}
.subscribe__text p:nth-child(2) {
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 20px;
}
.subscribe__text > .btn {
  margin-top: 60px;
  padding: 24px 49px 24px 50px;
}
.subscribe__text > .category {
  margin-top: 0;
  margin-bottom: 40px;
}
.subscribe img {
  position: absolute;
  top: -150px;
  left: -412px;
  z-index: 1;
}

.banner {
  padding-top: 281px;
  background-color: #F6F6F4;
  height: 210px;
  width: 100%;
}
.banner > .container {
  position: relative;
}
.banner > .container > .category {
  margin: 0;
  font-size: 36px;
  padding-bottom: 168px;
  position: absolute;
  z-index: 10;
}
.banner__img {
  position: absolute;
  top: -180px;
  left: -412px;
}

.invisible {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #c4c4c4;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.quantity {
  position: absolute;
  bottom: 10px;
  left: 75px;
  border-radius: 50%;
  background-color: #f54f4f;
  padding: 1.5px 7px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

main {
  overflow: hidden;
  padding-top: 102px;
}

.banner {
  background-color: transparent;
  height: 427px;
}
.banner__text {
  position: absolute;
  z-index: 10;
  top: -17px;
}
.banner__text p {
  font-size: 20px;
  color: #323232;
}
.banner__text h2 {
  font-size: 36px;
  padding-top: 14px;
  padding-bottom: 45px;
}

.goods__content {
  display: grid;
  grid-template-columns: repeat(3, 327px);
  row-gap: 80px;
  column-gap: 66px;
}

.about-us {
  margin-top: 202px;
  position: relative;
  height: 591px;
}
.about-us__text {
  position: absolute;
  z-index: 10;
}
.about-us__text > .category {
  margin-top: 100px;
  margin-bottom: 40px;
}
.about-us__text > .people-position {
  padding-bottom: 40px;
}
.about-us__text > .people-thoughts {
  font-size: 20px;
  line-height: 1.3;
  padding-bottom: 41px;
}
.about-us__text > a {
  color: #f54f4f;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #f54f4f;
}
.about-us__text > a:hover {
  color: #323232;
  border-bottom: 1px solid #323232;
}
.about-us > img {
  position: relative;
  top: -51px;
  left: -405px;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
