@import "../header-footer/header"
@import "../header-footer/footer"
@import "../common styles/common-styles"
.btn
  margin-top: 45px
  padding: 24px 70px
  background-color: $pink
  font-size: 18px
  color: white
  border: 1px solid $pink
  outline: none
  font-weight: bold

  &:hover
    box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44)
    cursor: pointer

.category
  font-size: $category
  font-weight: bold
  color: $black
  margin-top: 150px
  margin-bottom: 80px

main
  overflow: hidden

.banner
  position: relative

  & > img
    position: relative
    right: 406px
    z-index: 1

  &__text
    position: absolute
    top: 160px
    z-index: 10

    & p
      font-size: $price
      color: $black

    & h2
      font-size: $category + 6px
      padding-top: 14px
      padding-bottom: 45px

.goods__content
  display: grid
  grid-template-columns: repeat(3, 327px)
  row-gap: 80px
  column-gap: 66px

  & > .product
    text-align: center

.product
  & img
    width: 309px
  &__name
    font-size: $project_name
    font-weight: bold
    padding-top: 17px
    padding-bottom: 7px

  &__characteristics
    font-size: $little_text
    color: $gray
    white-space: nowrap

  &__price
    font-size: $price
    color: $black
    padding-top: 32px

.subscribe
  position: relative
  margin-top: 300px

  &__text
    position: absolute
    z-index: 10
    & p
      font-size: $price
      color: $black
      line-height: 1.3

      &:nth-child(2)
        color: $pink
        font-weight: bold
        padding-bottom: 20px

    & > .btn
      margin-top: 60px
      padding: 24px 49px 24px 50px
    & > .category
      margin-top: 0
      margin-bottom: 40px
  & img
    position: relative
    top: -150px
    left: -405px
    z-index: 1
.about-us
  margin-top: 202px
  position: relative
  height: 591px
  &__text
    position: absolute
    z-index: 10
    & >.category
      margin-top: 100px
      margin-bottom: 40px
    & >.people-position
      padding-bottom: 40px
    & >.people-thoughts
      font-size: $price
      line-height: 1.3
      padding-bottom: 41px
    & > a
      color: $pink
      font-size: $price
      text-decoration: none
      border-bottom: 1px solid $pink
      &:hover
        color: $black
        border-bottom: 1px solid $black
  & > img
    position: relative
    top: -51px
    left: -405px
    z-index: 1