@import "../fonts and variables/fonts/fonts"
@import "../fonts and variables/variables"
@import "../common styles/common-styles"
body
  overflow-x: hidden
*
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
.container
  width: 1920px - 405px - 402px
  margin: 0 auto
header
  padding: 40px 0
  position: fixed
  z-index: 101
  background-color: white
  width: 100%
.header__content
  display: flex
  &__phone
    margin-right: 92px
    margin-top: 2px
    font-size: $little_text
    font-weight: 500
    letter-spacing: 1px
  &__cart
    position: relative
    margin-top: 2px
    font-size: $little_text
    font-weight: 500
  &__cart > p:hover
    color: $pink
    cursor: pointer
.navigation
  margin-left: 260px
  margin-right: 167px
  margin-top: 2px
  & ul
    display: flex
    list-style-type: none
  &__text
    font-size: $little_text
    font-weight: 500
    padding-right: 60px
    & a
      text-decoration: none
      color: $black
      &:hover
        color: $pink
    &:last-child
      padding-right: 0
