.cart
  z-index: 100
  position: fixed
  margin: 0 480px
  width: 800px
  top: 20%
  background-color: white
  padding: 55px 65px
  & h1
    font-size: $category
    color: $black
    padding-bottom: 49px
  &>.close
    position: absolute
    top: 30px
    right: 25px
    cursor: pointer
  & .empty-cart
    padding: 42px 0
    font-size: $price
    color: $black
  & button
    padding: 24px 70px
    border: 1px solid $pink
    background-color: $pink
    color: white
    font-size: $little_text + 2px
    outline: none
    &:hover
      box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44)
      cursor: pointer
.cart-item
  display: flex
  padding-top: 28px
  & ul
    list-style-type: none
    padding-right: 77px
  &__name
    padding-top: 20px
    padding-bottom: 4px
    font-weight: bold
    font-size: $price
    color: $black
  &__vendorCode
    font-size: $little_text
    color: $gray
  &__quantity
    display: flex
    padding-top: 22px
    padding-right: 210px
    & #plus,#minus
      border-radius: 1000px
      border: 1px solid $gray
      color: $gray
      font-size: $little_text + 1px
      width: 22px
      height: 22px
      text-align: center
    &>.quantity-result
      padding: 0 12px
      color: $black
      font-size: $price
  &__price
    font-size: $project_name
    color: $black
    padding-top: 19px
    padding-right: 95.5px
    font-weight: bold
    white-space: nowrap
  &__delete
    width: 26px
    height: 26px
    padding-top: 21px
    cursor: pointer

.item-img
  padding-right: 25px
  width: 79px
  height: 91px