@font-face {
  font-family: "Montserrat-Bold", "Montserrat-Medium", "Montserrat-Regular", sans-serif;
  src: url("../fonts/Montserrat-Bold.ttf");
  src: url("../fonts/Montserrat-Medium.ttf");
  src: url("../fonts/Montserrat-Regular.ttf");
}
.subscribe-card {
  z-index: 100;
  position: fixed;
  left: 33%;
  top: 16%;
  background-color: white;
}
.subscribe-card__text {
  color: #323232;
  padding-left: 76px;
}
.subscribe-card__text:nth-child(3) {
  font-size: 30px;
  font-weight: bold;
  padding-top: 48px;
  padding-bottom: 24px;
}
.subscribe-card__text:nth-child(4) {
  font-size: 20px;
}
.subscribe-card form {
  padding-bottom: 69px;
}
.subscribe-card form > input {
  padding: 24px 9px 24px 28px;
  border: 1px solid #9c9c9c;
  outline: none;
  font-size: 18px;
  color: #9c9c9c;
  margin-left: 76px;
}
.subscribe-card form > .btn {
  padding: 24px 49px 24px 50px;
  margin-left: 26px;
  margin-top: 29px;
}
.subscribe-card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #9c9c9c;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.cart {
  z-index: 100;
  position: fixed;
  margin: 0 480px;
  width: 800px;
  top: 20%;
  background-color: white;
  padding: 55px 65px;
}
.cart h1 {
  font-size: 30px;
  color: #323232;
  padding-bottom: 49px;
}
.cart > .close {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}
.cart .empty-cart {
  padding: 42px 0;
  font-size: 20px;
  color: #323232;
}
.cart button {
  padding: 24px 70px;
  border: 1px solid #f54f4f;
  background-color: #f54f4f;
  color: white;
  font-size: 18px;
  outline: none;
}
.cart button:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.cart-item {
  display: flex;
  padding-top: 28px;
}
.cart-item ul {
  list-style-type: none;
  padding-right: 77px;
}
.cart-item__name {
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  color: #323232;
}
.cart-item__vendorCode {
  font-size: 16px;
  color: #9c9c9c;
}
.cart-item__quantity {
  display: flex;
  padding-top: 22px;
  padding-right: 210px;
}
.cart-item__quantity #plus, .cart-item__quantity #minus {
  border-radius: 1000px;
  border: 1px solid #9c9c9c;
  color: #9c9c9c;
  font-size: 17px;
  width: 22px;
  height: 22px;
  text-align: center;
}
.cart-item__quantity > .quantity-result {
  padding: 0 12px;
  color: #323232;
  font-size: 20px;
}
.cart-item__price {
  font-size: 24px;
  color: #323232;
  padding-top: 19px;
  padding-right: 95.5px;
  font-weight: bold;
  white-space: nowrap;
}
.cart-item__delete {
  width: 26px;
  height: 26px;
  padding-top: 21px;
  cursor: pointer;
}

.item-img {
  padding-right: 25px;
  width: 79px;
  height: 91px;
}

.people-name {
  font-size: 24px;
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 8px;
}

.people-position {
  color: #9c9c9c;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 48px;
  background-color: #f54f4f;
  transition: width 0.3s;
  position: absolute;
}
.logo:hover {
  width: 115px;
  color: white;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  color: white;
}
.logo__name {
  font-size: 18px;
  color: #323232;
  z-index: 10;
  white-space: nowrap;
  padding-right: 15px;
  transition: color 0.3s;
}
.logo__name:hover {
  color: white;
}
.logo__name > span {
  font-size: 18px;
  padding-left: 20px;
  color: white;
  background-color: #f54f4f;
  width: 27px;
}

.category {
  font-size: 30px;
  font-weight: bold;
  color: #323232;
  margin-top: 150px;
  margin-bottom: 80px;
}

.product {
  text-align: center;
  transition: 0.4s;
}
.product:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.product img {
  width: 309px;
}
.product__name {
  font-size: 24px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 7px;
}
.product__characteristics {
  font-size: 16px;
  color: #9c9c9c;
  white-space: nowrap;
}
.product__price {
  font-size: 20px;
  color: #323232;
  padding-top: 32px;
}

.btn {
  margin-top: 45px;
  padding: 24px 70px;
  background-color: #f54f4f;
  font-size: 18px;
  color: white;
  border: 1px solid #f54f4f;
  outline: none;
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0 4px 10px rgba(245, 79, 79, 0.44);
  cursor: pointer;
}

.subscribe {
  position: relative;
  margin-top: 230px;
  height: 492px;
}
.subscribe__text {
  position: absolute;
  z-index: 10;
}
.subscribe__text p {
  font-size: 20px;
  color: #323232;
  line-height: 1.3;
}
.subscribe__text p:nth-child(2) {
  color: #f54f4f;
  font-weight: bold;
  padding-bottom: 20px;
}
.subscribe__text > .btn {
  margin-top: 60px;
  padding: 24px 49px 24px 50px;
}
.subscribe__text > .category {
  margin-top: 0;
  margin-bottom: 40px;
}
.subscribe img {
  position: absolute;
  top: -150px;
  left: -412px;
  z-index: 1;
}

.banner {
  padding-top: 281px;
  background-color: #F6F6F4;
  height: 210px;
  width: 100%;
}
.banner > .container {
  position: relative;
}
.banner > .container > .category {
  margin: 0;
  font-size: 36px;
  padding-bottom: 168px;
  position: absolute;
  z-index: 10;
}
.banner__img {
  position: absolute;
  top: -180px;
  left: -412px;
}

.invisible {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.card {
  display: flex;
  z-index: 100;
  position: fixed;
  left: 27%;
  top: 20%;
  background-color: white;
  padding: 94px 76px 88px 46px;
}
.card > .close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.card > .container {
  background-color: rgba(0, 0, 0, 0.5);
}
.card img {
  width: 382px;
  height: 438px;
}
.card__name {
  font-size: 30px;
  color: #323232;
  font-weight: bold;
  padding-bottom: 15px;
}
.card__vendorCode {
  font-size: 16px;
  color: #9c9c9c;
  padding-bottom: 23px;
}
.card__price {
  font-size: 24px;
  color: #323232;
}
.card__info > .btn {
  margin-top: 34px;
  margin-bottom: 45px;
  padding: 23px 64px 25px 72px;
}
.card__aboutGoods {
  font-size: 16px;
  color: #323232;
  line-height: 1.3;
}

.quantity {
  position: absolute;
  bottom: 10px;
  left: 75px;
  border-radius: 50%;
  background-color: #f54f4f;
  padding: 1.5px 7px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1113px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  position: fixed;
  z-index: 101;
  background-color: white;
  width: 100%;
}

.header__content {
  display: flex;
}
.header__content__phone {
  margin-right: 92px;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.header__content__cart {
  position: relative;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
}
.header__content__cart > p:hover {
  color: #f54f4f;
  cursor: pointer;
}

.navigation {
  margin-left: 260px;
  margin-right: 167px;
  margin-top: 2px;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}
.navigation__text {
  font-size: 16px;
  font-weight: 500;
  padding-right: 60px;
}
.navigation__text a {
  text-decoration: none;
  color: #323232;
}
.navigation__text a:hover {
  color: #f54f4f;
}
.navigation__text:last-child {
  padding-right: 0;
}

footer {
  background-color: #323232;
  padding: 150px 0;
}

.footer__content {
  display: flex;
}
.footer__content > .logo > a > .logo__name {
  color: white;
}
.footer__content__phone {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}
.footer__content > .navigation {
  margin-left: 379px;
  margin-right: 238px;
}
.footer__content > .navigation ul .navigation__text a {
  color: white;
}
.footer__content > .navigation ul .navigation__text a:hover {
  color: #f54f4f;
}

.banner > .container > .logo {
  position: relative;
  left: 954px;
  bottom: -180px;
  z-index: 10;
  width: 36px;
}
.banner > .container > .logo:hover {
  width: 91px;
}
.banner > .container > .logo > a > .logo__name {
  font-size: 14px;
}
.banner > .container > .logo > a > .logo__name span {
  font-size: 14px;
  padding-left: 15px;
}

.our-team {
  margin-top: 105px;
  position: relative;
}

.our-slogan p {
  padding-top: 47px;
  padding-left: 95px;
}
.our-slogan p:last-child {
  padding-top: 31px;
}
.our-slogan > img {
  position: absolute;
  top: 17px;
  left: 5px;
}
.our-slogan > .slogan {
  font-size: 18px;
  line-height: 1.3;
  color: #323232;
}

.our-persons {
  margin-top: 24px;
  display: flex;
}
.our-persons div {
  padding-right: 123px;
  text-align: center;
}
.our-persons div .name {
  font-size: 20px;
  font-weight: bold;
  color: #f54f4f;
  padding-top: 24px;
}
.our-persons div .position {
  font-size: 16px;
  color: #9c9c9c;
  padding-top: 5px;
}
.our-persons div:last-child {
  padding: 0;
}

.our-projects__content {
  display: flex;
  flex-wrap: wrap;
}
.our-projects__content div {
  margin-right: 12px;
  transition: 0.6s;
}
.our-projects__content div:nth-child(1) {
  margin-bottom: 5px;
}
.our-projects__content div:nth-child(even) {
  margin-right: 0;
}
.our-projects__content div:hover {
  filter: brightness(0.7);
  cursor: pointer;
}
.our-projects__content div:hover:hover > .open-img {
  display: block;
  top: 45%;
  left: 50%;
}
.our-projects__content div:hover:hover:nth-child(2) > .open-img {
  left: 45%;
}
.our-projects__content div > .open-img {
  display: none;
  position: absolute;
}

.our-choice {
  margin-bottom: 150px;
}

.goods__content {
  display: grid;
  grid-template-columns: repeat(3, 327px);
  row-gap: 80px;
  column-gap: 66px;
}

/*# sourceMappingURL=about_us.css.map */
