<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/contact/contact.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header__content">
            <section class="pink_bg logo">
                <a href="index.html">
                    <p class="logo__name"><span>All</span> Chair</p>
                </a>
            </section>
            <nav class="navigation">
                <ul>
                    <li class="navigation__text"><a href="about_us.html"><p>О НАС</p></a></li>
                    <li class="navigation__text"><a href="catalog.html"><p>КАТАЛОГ</p></a></li>
                    <li class="navigation__text"><a href="contact.html"><p>КОНТАКТЫ</p></a></li>
                </ul>
            </nav>
            <section class="header__content__phone">
                <p>+1 123 456 78 90</p>
            </section>
            <section id="cart" class="header__content__cart">
                <p>Корзина</p>
            </section>
        </div>
    </div>
</header>
<div class="banner">
    <div class="container">
        <h1 class="category">КОНТАКТЫ</h1>
        <img class="banner__img" src="../img/other/contact_banner.png" alt="">
    </div>
</div>
<main>
    <div class="container main__content">
        <ul>
            <li class="feedBack-category">Контакт-центр</li>
            <li class="feedBack-phone">+1 123 456 78 90</li>
            <li class="feedBack-mail">hello@AllChair.com</li>
        </ul>
        <ul>
            <li class="feedBack-category">Сотрудничество</li>
            <li class="feedBack-phone">+1 123 456 00 00</li>
            <li class="feedBack-mail">coop@AllChair.com</li>
        </ul>
        <ul>
            <li class="feedBack-category">Отдел кадров</li>
            <li class="feedBack-phone">+1 123 450 00 00</li>
            <li class="feedBack-mail">hr@AllChair.com</li>
        </ul>
    </div>
</main>
<footer>
    <div class="container footer__content">
        <section class="pink_bg logo">
            <a href="index.html">
                <p class="logo__name"><span>All</span> Chair</p>
            </a>
        </section>
        <nav class="navigation">
            <ul>
                <li class="navigation__text"><a href="about_us.html"><p>О НАС</p></a></li>
                <li class="navigation__text"><a href="catalog.html"><p>КАТАЛОГ</p></a></li>
                <li class="navigation__text"><a href="contact.html"><p>КОНТАКТЫ</p></a></li>
            </ul>
        </nav>
        <section class="footer__content__phone">
            <p>+1 123 456 78 90</p>
        </section>
    </div>
</footer>
<script src="../js/productCard.js"></script>
<script src="../js/cart.js"></script>
<script src="../js/ordering.js"></script>
</body>
</html>