<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/main/main.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header__content">
            <section class="pink_bg header__content__logo">
                <a href="index.html">
                    <h1 class="header__content__name"><span>All</span> Chair</h1>
                </a>
            </section>
            <nav class="navigation">
                <ul>
                    <li class="navigation__text"><p>О НАС</p></li>
                    <li class="navigation__text"><p>КАТАЛОГ</p></li>
                    <li class="navigation__text"><p>КОНТАКТЫ</p></li>
                </ul>
            </nav>
            <section class="header__content__phone">
                <p>+1 123 456 78 90</p>
            </section>
            <section class="header__content__cart">
                <p>Корзина</p>
            </section>
        </div>
    </div>
</header>
<main>
    <div class="banner container">
        <div class="banner__text">
            <p>Интернет-магазин</p>
            <h1>ДИЗАЙНЕРСКИХ СТУЛЬЕВ</h1>
            <p>Актуальные коллекции лучших<br>
                мировых брендов в одном месте</p>
            <button class="btn">В КАТАЛОГ</button>
        </div>
        <img src="../img/other/banner.png" alt="">
    </div>
    <div class="main__content container">
        <div class="goods">
            <h1 class="category">ПОПУЛЯРНЫЕ ТОВАРЫ</h1>
            <div class="goods__content">
                <div class="product">
                    <img src="../img/products/Nap.png" alt="Nap">
                    <h1 class="product__name">NAP</h1>
                    <p class="product__characteristics">Variant: plastic, sky blue</p>
                    <p class="product__price">1 590 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Series.png" alt="SERIES">
                    <h1 class="product__name">SERIES</h1>
                    <p class="product__characteristics">Variant: textile, ivina melange</p>
                    <p class="product__price">1 270 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Grand%20Prix.png" alt="GRAND PRIX">
                    <h1 class="product__name">GRAND PRIX</h1>
                    <p class="product__characteristics">Variant: wood, clear lacquer, walnut</p>
                    <p class="product__price">790 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Series_7.png" alt="Series_7">
                    <h1 class="product__name">SERIES 7</h1>
                    <p class="product__characteristics">Variant: full lacquer, chevalier orange</p>
                    <p class="product__price">1 890 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Drop.png" alt="DROP">
                    <h1 class="product__name">DROP</h1>
                    <p class="product__characteristics">Variant: plastic, white</p>
                    <p class="product__price">2 300 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Lily.png" alt="LILY">
                    <h1 class="product__name">LILY</h1>
                    <p class="product__characteristics">Variant: leather, grace, walnut</p>
                    <p class="product__price">3 100 ₽</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>