<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/main/main.css">
</head>
<body>
<header>
    <div class="container">
        <div class="header__content">
            <section class="pink_bg logo">
                <a href="index.html">
                    <p class="logo__name"><span>All</span> Chair</p>
                </a>
            </section>
            <nav class="navigation">
                <ul>
                    <li class="navigation__text"><a href="about_us.html"><p>О НАС</p></a></li>
                    <li class="navigation__text"><a href="catalog.html"><p>КАТАЛОГ</p></a></li>
                    <li class="navigation__text"><a href="contact.html"><p>КОНТАКТЫ</p></a></li>
                </ul>
            </nav>
            <section class="header__content__phone">
                <p>+1 123 456 78 90</p>
            </section>
            <section class="header__content__cart">
                <p>Корзина</p>
            </section>
        </div>
    </div>
</header>
<main>
    <div class="banner container">
        <div class="banner__text">
            <p>Интернет-магазин</p>
            <h2>ДИЗАЙНЕРСКИХ СТУЛЬЕВ</h2>
            <p>Актуальные коллекции лучших<br>
                мировых брендов в одном месте</p>
            <button class="btn">В КАТАЛОГ</button>
        </div>
        <img src="../img/other/banner.png" alt="">
    </div>
    <div class="main__content container">
        <div class="goods">
            <h1 class="category">ПОПУЛЯРНЫЕ ТОВАРЫ</h1>
            <div class="goods__content popular-goods">
                <div class="product">
                    <img src="../img/products/Nap.png" alt="Nap">
                    <p class="product__name">NAP</p>
                    <p class="product__characteristics">Variant: plastic, sky blue</p>
                    <p class="product__price">1 590 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Series.png" alt="SERIES">
                    <p class="product__name">SERIES</p>
                    <p class="product__characteristics">Variant: textile, ivina melange</p>
                    <p class="product__price">1 270 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Grand%20Prix.png" alt="GRAND PRIX">
                    <p class="product__name">GRAND PRIX</p>
                    <p class="product__characteristics">Variant: wood, clear lacquer, walnut</p>
                    <p class="product__price">790 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Series_7.png" alt="Series_7">
                    <p class="product__name">SERIES 7</p>
                    <p class="product__characteristics">Variant: full lacquer, chevalier orange</p>
                    <p class="product__price">1 890 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Drop.png" alt="DROP">
                    <p class="product__name">DROP</p>
                    <p class="product__characteristics">Variant: plastic, white</p>
                    <p class="product__price">2 300 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Lily.png" alt="LILY">
                    <p class="product__name">LILY</p>
                    <p class="product__characteristics">Variant: leather, grace, walnut</p>
                    <p class="product__price">3 100 ₽</p>
                </div>
            </div>
            <div class="goods">
                <h1 class="category">НОВЫЕ ПОСТУПЛЕНИЯ</h1>
                <div class="goods__content new-goods">
                    <div class="product">
                        <img src="../img/products/Series_7_yellow.png" alt="Series_7">
                        <p class="product__name">SERIES 7</p>
                        <p class="product__characteristics">Variant: lacquered, true yellow, chrome</p>
                        <p class="product__price">900 ₽</p>
                    </div>
                    <div class="product">
                        <img src="../img/products/Series.png" alt="SERIES">
                        <p class="product__name">SERIES</p>
                        <p class="product__characteristics">Variant: textile, ivina melange</p>
                        <p class="product__price">1 270 ₽</p>
                    </div>
                    <div class="product">
                        <img src="../img/products/Grand%20Prix.png" alt="GRAND PRIX">
                        <p class="product__name">GRAND PRIX</p>
                        <p class="product__characteristics">Variant: wood, clear lacquer, walnut</p>
                        <p class="product__price">790 ₽</p>
                    </div>
                    <div class="product">
                        <img src="../img/products/Ant.png" alt="ANT">
                        <p class="product__name">ANT</p>
                        <p class="product__characteristics">Variant: lacquered whate. chrome</p>
                        <p class="product__price">680 ₽</p>
                    </div>
                    <div class="product">
                        <img src="../img/products/Nap-drop.png" alt="Nap">
                        <p class="product__name">NAP</p>
                        <p class="product__characteristics">Variant: plastic, pepper grey</p>
                        <p class="product__price">1 750 ₽</p>
                    </div>
                    <div class="product">
                        <img src="../img/products/Grand_prix_orange.png" alt="GRAND PRIX">
                        <p class="product__name">GRAND PRIX</p>
                        <p class="product__characteristics">Variant: lacqured, paradise orange, chrome</p>
                        <p class="product__price">790 ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe">
            <div class="subscribe__text">
                <h2 class="category">ОБНОВЛЕНИЕ КАТАЛОГА<br>
                    КАЖДУЮ НЕДЕЛЮ</h2>
                <p>Специально для дизайнеров</p>
                <p>Получайте каталог с новыми постпулениями<br>
                    каждый вечер</p>
                <button class="btn">ПОДПИСАТЬСЯ</button>
            </div>
            <img src="../img/other/double_chairs.png" alt="chairs">
        </div>
        <div class="goods">
            <h1 class="category">ВЫБОР AllChair</h1>
            <div class="goods__content our-choice">
                <div class="product">
                    <img src="../img/products/Nap.png" alt="Nap">
                    <p class="product__name">NAP</p>
                    <p class="product__characteristics">Variant: plastic, sky blue</p>
                    <p class="product__price">1 590 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Drop_black.png" alt="DROP">
                    <p class="product__name">DROP</p>
                    <p class="product__characteristics">Variant leather, essential, black</p>
                    <p class="product__price">3 490 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Ant_vinil.png" alt="ANT">
                    <p class="product__name">ANT</p>
                    <p class="product__characteristics">Variant: wood, clear lacquer, walnut</p>
                    <p class="product__price">890 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Ant_pink.png" alt="ANT">
                    <p class="product__name">ANT</p>
                    <p class="product__characteristics">Variant: wood, clear lacquer, walnut</p>
                    <p class="product__price">790 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Nap-drop.png" alt="Nap">
                    <p class="product__name">NAP</p>
                    <p class="product__characteristics">Variant: plastic, pepper grey</p>
                    <p class="product__price">1 750 ₽</p>
                </div>
                <div class="product">
                    <img src="../img/products/Grand_prix_orange.png" alt="GRAND PRIX">
                    <p class="product__name">GRAND PRIX</p>
                    <p class="product__characteristics">Variant: lacqured, paradise orange, chrome</p>
                    <p class="product__price">790 ₽</p>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="about-us__text">
                <h1 class="category">О КОМПАНИИ</h1>
                <p class="people-name">Макс Холден</p>
                <p class="people-position">Основатель, арт-директор</p>
                <p class="people-thoughts">
                   Мы испытываем особый трепет и любовь<br>
                   к современному и скандинавскому стилю<br>
                   в дизайне, поэтому посетили не одну<br>
                   страну и не одно производство, чтобы<br>
                   собрать самые главные бренды в нашем<br>
                   магазине.
                </p>
                <a href="about_us.html">Подробнее</a>
            </div>
            <img src="../img/other/max-banner.png" alt="Max Holden">
        </div>
    </div>
</main>
<footer>
    <div class="container footer__content">
        <section class="pink_bg logo">
            <a href="index.html">
                <p class="logo__name"><span>All</span> Chair</p>
            </a>
        </section>
        <nav class="navigation">
            <ul>
                <li class="navigation__text"><a href="about_us.html"><p>О НАС</p></a></li>
                <li class="navigation__text"><a href="catalog.html"><p>КАТАЛОГ</p></a></li>
                <li class="navigation__text"><a href="contact.html"><p>КОНТАКТЫ</p></a></li>
            </ul>
        </nav>
        <section class="footer__content__phone">
            <p>+1 123 456 78 90</p>
        </section>
    </div>
</footer>
</body>
</html>