<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/main/main.css">
</head>
<body>
<header>
    <div class="container header__content">
        <section class="pink_bg header__content__logo">
            <a href="index.html">
                <h1 class="header__content__name"><span>All</span> Chair</h1>
            </a>
        </section>
        <nav class="navigation">
            <ul>
                <li class="navigation__text"><p>О НАС</p></li>
                <li class="navigation__text"><p>КАТАЛОГ</p></li>
                <li class="navigation__text"><p>КОНТАКТЫ</p></li>
            </ul>
        </nav>
        <section class="header__content__phone">
            <p>+1 123 456 78 90</p>
        </section>
        <section class="header__content__cart">
            <p>Корзина</p>
        </section>
    </div>
</header>
</body>
</html>