.headers
  color: $pink
  font-size: $project_name
  font-weight: bold
  padding-bottom: 30px
.order
  z-index: 100
  position: fixed
  margin: 0 480px
  width: 800px
  top: 9.6%
  background-color: white
  padding: 55px 65px
  &>a
    text-decoration: none
    color: $black
    font-size: $price
    border-bottom: 1px solid
    margin-bottom: 24px
    &:hover
      color: $pink
  &>h1
    font-size: $category
    padding-top: 24px
    padding-bottom: 50px
    border-bottom: 1px solid $gray
  &>.close
    position: absolute
    width: 36px
    height: 36px
    right: 25px
    top: 25px
    cursor: pointer
  &>form
    &>.headers
      padding-top: 45px
  &__content
    display: flex
    margin-bottom: 48px
.chooseDelivery
  width: 54%
  &>ul
    list-style-type: none
    margin-right: 250px
    &>li:first-child
      margin-bottom: 10px
label
  cursor: pointer
  font-weight: 500
  color: $black
  font-size: $project_name
.deliveryDetails
  width: 60%
  &_text
    color: $black
    font-size: $little_text
    line-height: 21px
.aboutRecipient
  display: flex
  margin-bottom: 77px
  &__text
    font-size: $project_name
    color: $black
    font-weight: 500
    padding-bottom: 26px
  &>.recipient
    margin-right: 50px
    &>ul
      list-style-type: none
      &>li>input
        padding: 24px 0 26px 25px
        width: 350px
        color: $gray
        outline: none
        border: 1px solid $gray
        font-size: $little_text
        &:first-child
          margin-bottom: 10px
  &>.address, .our-address
    &>ul
      list-style-type: none
      &>li
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        &>input
          padding: 12px 0 12px 20px
          width: 350px
          color: $gray
          outline: none
          border: 1px solid $gray
          font-size: $little_text
.our-address
  &>ul>li
    margin-bottom: 5px!important
    &:first-child
      display: flex
      margin-bottom: 11px !important
      &>p
        padding-left: 15px !important
        font-size: $little_text + 2px !important
    & p
      padding-left: 30px
      font-size: 14px
    &:last-child
      margin-top: 35px
      margin-bottom: 0
.payment
  margin-bottom: 77px
  &>ul
    list-style-type: none
    &>li:first-child
      padding-bottom: 10px
.totalSum
  font-size: $project_name
  color: $black
  font-weight: bold
  &>p>span
    padding-left: 42px
.custom-radio
  position: absolute
  opacity: 0
  z-index: -1
  &+label
    display: inline-flex
    align-items: center
    user-select: none
    &::before
      content: ""
      display: inline-block
      width: 29px
      height: 29px
      border: 1px solid $gray
      border-radius: 50%
      margin-right: 15px
  &:checked+label::before
    border-color: $gray
    background-image: url("../../img/other/checked.svg")
    background-position: center
    background-repeat: no-repeat